<%= content_for :title do %>
	<title>Users</title>
<% end %>

<%= link_to 'My Profile' %> <!-- Create Link Back to Profile -->
<%= link_to 'Logout' %> <!-- Create logout link -->

<h2>Users you may want to connect with</h2>
<% if @users %>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.name, '/users/'+ user.id.to_s %></td>
			<td><%= link_to 'Connect' %><!-- Link to connect --></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>