<%= content_for :title do %>
	<title><%= @user.name %></title>
<% end %>

<%= link_to 'My Profile', professional_profile_index_path %>
<%= link_to 'Logout', logout_path %>

<h2><%= @user.name %></h2>

<p><%= @user.description %></p>