<h1>Hi <%= @user.name %>!</h1>
<%= link_to 'All Users', users_path %>
<%= link_to 'Logout' %> <!-- Create logout link -->

<h3>Here is your profile description:</h3>
<p class="box"><%= @user.description %></p>
<%= link_to 'Update My Profile', '/users/9/edit' %>

<h3>Your professional Network:</h3>
<!-- Network contacts -->

<h3>Invitations:</h3>
<p>The following people asked you to be in their network:</p>
<!-- Invitations -->
